# Alembic
alembic.ini
# Base de datos local
*.sqlite
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pytest_cache/

# Entorno virtual
venv/
.venv/

# Archivos de entorno
.env
.env.test

# IDEs
.vscode/
.idea/

/querie.py
/rename_municipios.py